.dataTable-wrapper {
	overflow: hidden;
}

.dataTable-container {
	transition: height 150ms;
}

.dataTable-selector {
	float: left;
	width: 80px;
}

.dataTable-info {
	float: left;
}

.dataTable-info,
.dataTable-selector {
	margin: 20px 0;
}

/**
 * SORTERS
 */
.dataTable-sorter {
	display: inline-block;
	float: right;
	height: 100%;
	position: relative;
	width: 100%;
}

.dataTable-sorter::after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #000;
	content: "";
	height: 0;
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translate3d(0px, -50%, 0px);
	width: 0;
}

.desc .dataTable-sorter::after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #000;
	border-top: none;
}

/**
 * PAGINATORS
 */
.dataTable-pagination {
	float: right;
	border-radius: 4px;
	display: inline-block;
	margin: 20px 0;
	padding-left: 0;
}

.dataTable-pagination > li {
	display: inline;
}

.dataTable-pagination > li > a {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #337ab7;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}

.dataTable-pagination > li:first-child > a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}

.dataTable-pagination > li:last-child > a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.dataTable-pagination > li > a:focus,
.dataTable-pagination > li > a:hover {
	background-color: #eee;
	border-color: #ddd;
	color: #23527c;
	z-index: 3;
}

.dataTable-pagination > .active > a,
.dataTable-pagination > .active > a:focus,
.dataTable-pagination > .active > a:hover {
	background-color: #337ab7;
	border-color: #337ab7;
	color: #fff;
	cursor: default;
	z-index: 2;
}

.dataTable-pagination > .disabled > a,
.dataTable-pagination > .disabled > a:focus,
.dataTable-pagination > .disabled > a:hover {
	background-color: #fff;
	border-color: #ddd;
	color: #777;
	cursor: not-allowed;
}

.dataTable-pagination-lg > li > a {
	font-size: 18px;
	line-height: 1.33333;
	padding: 10px 16px;
}

.dataTable-pagination-lg > li:first-child > a {
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}

.dataTable-pagination-lg > li:last-child > a {
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}

.dataTable-pagination-sm > li > a {
	font-size: 12px;
	line-height: 1.5;
	padding: 5px 10px;
}

.dataTable-pagination-sm > li:first-child > a {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.dataTable-pagination-sm > li:last-child > a {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}