.datatable-editor-modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-animation: 250ms ease 0ms fadeIn;
            animation: 250ms ease 0ms fadeIn;
}

.datatable-editor-modal.closed {
    -webkit-animation: 250ms ease 0ms fadeIn;
            animation: 250ms ease 0ms fadeIn;
}

.datatable-editor-modal.closed .datatable-editor-inner {
    -webkit-animation: 250ms ease 0ms slideIn;
            animation: 250ms ease 0ms slideIn;
}

.datatable-editor-inner {
    width: 30%;
    margin: 10% auto;
    background-color: #fff;
    border-radius: 5px;
    -webkit-animation: 250ms ease 0ms slideIn;
            animation: 250ms ease 0ms slideIn;
}

.datatable-editor-header {
    position: relative;
    border-bottom: 1px solid #ccc;
}

.datatable-editor-header h4 {
    font-size: 20px;
    margin: 0;
}

.datatable-editor-header button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    line-height: 1;
    opacity: 0.6;
}

.datatable-editor-header button:hover {
    opacity: 1;
}

.datatable-editor-header {
    padding: 15px 30px;
}

.datatable-editor-block {
    padding: 15px 60px;
}

.datatable-editor-row {
    margin: 0 0 15px;
}

.datatable-editor-row:last-child {
    margin: 0 0 5px;
}

.datatable-editor-row:last-child {
    text-align: right;
}

.datatable-editor-label {
    width: 25%;
    text-align: right;
    padding: 0 15px;
}

.datatable-editor-label, .datatable-editor-input {
    display: inline-block;
}

.datatable-editor-input {
    padding: 4px 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin: -5px 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

.datatable-editor-row .datatable-editor-input {
    margin: 0;
    width: 75%;
}

.datatable-editor-save, .datatable-editor-cancel {
    padding: 6px 12px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    border-radius: 3px;
}

.datatable-editor-save {
    background-color: #27ae60;
    border: 1px solid #27ae60;
    color: #fff;
}

.datatable-editor-save:hover {
    background-color: #2cc36b;
    border-color: #2cc36b;
}

/* ContextMenu */
.datatable-editor-wrapper {
    position: absolute;
}

.datatable-editor-menu {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    margin: 0;
    min-width: 220px;
    padding: 5px 0;
    box-shadow: 0px 0px 10px 2px #aaa;
}

.datatable-editor-menu li {
    list-style: none;
}

.datatable-editor-menu a {
    box-sizing: border-box;
    color: inherit;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    width: 100%;
}

.datatable-editor-menu a:hover {
    background-color: #ddd;
}

.datatable-editor-separator {
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
                transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0%, 0);
                transform: translate3d(0, 0%, 0);
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -10%, 0);
                transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0%, 0);
                transform: translate3d(0, 0%, 0);
    }
}

.datatable-editor-action .mdi {
     margin-right: 5px;
	 color: #666;
}
