name: Check tests

on: [pull_request, push]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Setup Chrome
              run: sudo apt update && sudo apt install -y google-chrome-stable
            - run: /usr/bin/google-chrome-stable --version
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
            - name: Install dependencies
              run: npm install
            - uses: jamesmortensen/chromedriver-matcher-action@v1
            - name: Tests
              run: npm test
